{% extends 'layout.html' %}


{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/forms.css') }}"
            type="text/css"
    />
{% endblock %}

{% block content %}

  <div class="form-wrapper">
    <h2 class="title">Device</h2>

    <form method="POST" action="{{ url_for('device') }}">
    {{ form.csrf_token }}

        <fieldset class="form-field">{{ form.id.label }} {{ form.id(size=20) }}
          {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.id.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">id{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
        </fieldset>
        


      <fieldset class="form-field">
        {{ form.name.label }}
        {{ form.name }}
        {% if form.name.errors %}
          <ul class="errors">
            {% for error in form.name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>


    {% if form.name.errors %}
        <ul class="errors">
        {% for error in form.name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

      {{ form.submit }}

      </form>
  </div>

{% endblock %}