<!doctype html>
<html>
<body>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<div id='chart1' class='chart'”></div>
<div id='chart2' class='chart'”></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
  var graphs1 = {{graphJSON1 | safe}};
  Plotly.plot('chart1',graphs1,{});
</script>


<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>
</html>